In [1]:
#importing pandas library

import pandas as pd

In [2]:
#storing csv to df

df = pd.read_csv("https://data.cityofnewyork.us/resource/2nwg-uqyg.csv?$query=SELECT%0A%20%20%60date%60%2C%0A%20%20%60mod_zcta%60%2C%0A%20%20%60total_ed_visits%60%2C%0A%20%20%60ili_pne_visits%60%2C%0A%20%20%60ili_pne_admissions%60%0AWHERE%20%60date%60%20IS%20NOT%20NULL%0AORDER%20BY%20%60extract_date%60%20DESC%20NULL%20FIRST")
#removing time from date string
df['date'] = df['date'].str.replace('T00:00:00.000','')

In [3]:
#turning date into datetime from string
df['date'] = pd.to_datetime(df['date'])

df.head()

        date  mod_zcta  total_ed_visits  ili_pne_visits  ili_pne_admissions
0 2020-10-27     11432               65               1                   0
1 2021-02-10     11210               54               7                   4
2 2022-05-13     10468              139               5                   0
3 2020-03-02     10469              130              17                   3
4 2022-04-05     10044               10               0                   0

In [4]:
#renaming mod_zcta to zip code for legibility
df = df.rename(columns= {'mod_zcta':'zip_code'})

In [36]:
#creating boroughvalues list to store for borough column based on zip code

boroughvalues = []

for i in range(len(df)):
    zip_code = df.iloc[i]['zip_code']
    if zip_code < 10300:
        boroughvalues.append('Manhattan')
    elif  10300 < zip_code < 10400:
        boroughvalues.append("Staten Island")
    elif 10400 < zip_code < 10500:
        boroughvalues.append("Bronx")
    elif 11200 < zip_code < 11300:
        boroughvalues.append("Brooklyn")
    else:
        boroughvalues.append('Queens')

#assigning borough column to list values from boroughvalues
df['borough'] = boroughvalues

df.to_csv('analysisclean.csv', index= False)


#df['date'].groupby(df['zip_code']).count()
#df['date'].duplicated().sum()