In [7]:
#importing pandas library

import pandas as pd

In [24]:
#storing csv to df

df = pd.read_csv("https://data.cityofnewyork.us/resource/2nwg-uqyg.csv?$limit=50000")
#removing time from date string
df['date'] = df['date'].str.replace('T00:00:00.000','')
df = df.drop('extract_date',axis = 1)

In [25]:
#turning date into datetime from string
df['date'] = pd.to_datetime(df['date'])

df.head()

        date  mod_zcta  total_ed_visits  ili_pne_visits  ili_pne_admissions
0 2022-03-08     10021               18               2                   1
1 2020-12-15     10033               54               4                   0
2 2021-08-01     11432               81               6                   0
3 2021-04-23     10032               70               2                   0
4 2022-01-02     10459              110              20                   3

In [26]:
#renaming mod_zcta to zip code for legibility
df = df.rename(columns= {'mod_zcta':'zip_code'})

In [27]:
#creating boroughvalues list to store for borough column based on zip code

boroughvalues = []

#for loop through full length of data
for i in range(len(df)):
    #setting zip_code variable to value of zip code in iteration row
    zip_code = df.iloc[i]['zip_code']
    if zip_code < 10300:
        boroughvalues.append('Manhattan')
    elif  10300 < zip_code < 10400:
        boroughvalues.append("Staten Island")
    elif 10400 < zip_code < 10500:
        boroughvalues.append("Bronx")
    elif 11200 < zip_code < 11300:
        boroughvalues.append("Brooklyn")
    else:
        boroughvalues.append('Queens')

#assigning borough column to list values from boroughvalues
df['borough'] = boroughvalues

df.to_csv('analysisclean.csv', index= False)


#df['date'].groupby(df['zip_code']).count()
#df['date'].duplicated().sum()

In [33]:
df['zip_code'].value_counts()

zip_code
10026    328
10036    325
10304    324
11230    323
11373    322
        ...
10004    232
11697    230
11109    221
11363    190
10000      7
Name: count, Length: 178, dtype: int64

In [34]:
df['borough'].value_counts()

borough
Queens           16644
Manhattan        12263
Brooklyn         10488
Bronx             7080
Staten Island     3525
Name: count, dtype: int64